@charset "UTF-8";

    /* Mobile S - 320px */
@media (min-width: 0px) and (max-width: 320px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    section > article > div.pag{
        font-size: 13.8px;
    }
}
    /* Mobile M - 375px */
@media (max-width:375px) {
    section > article > div.pag{
        font-size: 15.2px;
    }
}

@media (min-width: 768px) {

    section{
        align-items: center;
    }
    section > article{
        width: 90%;
        height: 70%;
    }
    section > article > div.pag{
        font-size: 1em;
    }
}